{% extends 'base.html.twig' %}

{% block title %}Llave Maestra - Mis sitios{% endblock %}

{% block body %}
    <h1>Sitios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.Name }}</td>
                <td>{{ site.Description }}</td>
                <td>
                    <a href="{{ path('site_show', {'id': site.id}) }}">Ver credenciales</a>
                    <a href="{{ path('site_edit', {'id': site.id}) }}">Editar</a>
                    <a href="{{ path('site_share', {'id': site.id}) }}">Compartir sitio</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Todavía no tenés ningún sitio registrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('site_new') }}">Crear nuevo sitio</a>
{% endblock %}
